<!DOCTYPE html>
{% load staticfiles %}
{% load tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Learning_challenge{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/webapp.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  {% context2js datasets groups rounds ADMIN algorithms distances preprocessing %}
  {% context2js DIMENSION_HOSTNAME_LABEL DIMENSION_USERNAME_LABEL DIMENSION_GROUP_LABEL DIMENSION_ROUND_LABEL DIMENSION_DATASET_LABEL DIMENSION_ALGORITHM_LABEL %}
  {% context2js TYPE_TRAINING TYPE_TEST TYPE_VALIDATION VISUALIZATION_DIMENSION_DEFAULT %}
  {% context2js username %}

   <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand ajax" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% block navbar %}
          {% endblock %}
          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          -->


          {% if user.is_authenticated %}
            <a href="{% url 'django.contrib.auth.views.logout' %}" class="navbar-btn btn btn-danger navbar-right">Logout</a>
            <p class="navbar-text navbar-right">
                <strong>{{ user.username }} &nbsp;</strong>
            </p>

          {% else %}
              <form class="navbar-form navbar-right" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="nick-/teamname" name="username">
                      <input type="password" class="form-control" placeholder="password" name="password">
                  </div>
                  <button type="submit" class="btn btn-success">login</button>
              </form>
           {% endif %}

          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="http://learning-challenge.readthedocs.org/" alt="Documentation"><span class="glyphicon glyphicon-book"></span></a>
            </li>
            {% if user.is_superuser %}
            <li>
                <a href="/admin/" alt="Admin"><span class="glyphicon glyphicon-wrench"></span></a>
            </li>
            {% endif %}
          </ul>


        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div id="msg_container"></div>
        {% block content %}
        <h1>Hello, world!</h1>
        {% endblock %}
    </div>
    <hr />
    <div class="container-fluid">
        <div class="text-center">
            <small>
                &copy; 2014 by Pascal Held und Christian Braune
                &nbsp; | &nbsp;
                <a href="http://www.ovgu.de/">Otto von Guericke University of Magdeburg</a>
                &nbsp; | &nbsp;
                <a href="http://fuzzy.cs.ovgu.de/">Computational Intelligence Group</a>
                &nbsp; | &nbsp;
                <a href="https://bitbucket.org/paheld/learning-challenge/">Git - Repository</a>
                &nbsp; | &nbsp;
                <a href="http://learning-challenge.readthedocs.org/">Documentation</a>
                &nbsp; | &nbsp;
                <a href="http://www.ovgu.de/Impressum.html">Impressum</a>
            </small>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/jquery.tablesorter.min.js"%}"></script>
    <script src="{% static "js/jquery.tablesorter.widgets.js"%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static "js/highcharts-3d.js" %}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ ANALYTICS_TRACKING_ID }}', 'auto');

      ga('set', '{{ DIMENSION_HOSTNAME_LABEL }}', '{{ HOSTNAME }}');

      {% if user.is_authenticated %}
        ga('set', '&uid', {{ user.id }}); // Legen Sie die Nutzer-ID mithilfe des Parameters "user_id" des angemeldeten Nutzers fest.
        ga('set', '{{ DIMENSION_USERNAME_LABEL }}', '{{ user.username }}');
      {% endif %}

      {% block analytics_pageview %}
      ga('send', 'pageview');
      {% endblock %}

    </script>
    <script>
        if (window.location.hash) {
            msg = window.location.hash.substring(1)
            msg = decodeURIComponent(msg)
            $("#msg_container").html('<div class="alert alert-warning" role="alert">'+msg+'</div>')
        }
    </script>
    {% block js %}{% endblock %}
  </body>
</html>