{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Learning Challenge - Please log in{% endblock %}

{% block content %}
    <div class="row index-screen main-content">
        <h1 class="text-center" style="color: white;">Welcome to learning-challenge</h1>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills" role="tablist">
                          <li class="active"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
                          <li><a href="#new_account" role="tab" data-toggle="tab">Sign Up</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="login">
                              <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="login_username">Nick- or Teamname</label>
                                      <input type="text" id="login_username" class="form-control" placeholder="nick-/teamname" name="username">
                                  </div>
                                  <div class="form-group">
                                      <label for="login_password">Password</label>
                                      <input type="password" id="login-password" class="form-control" placeholder="password" name="password">
                                  </div>
                                  <button type="submit" class="btn btn-success pull-right">Login</button>
                              </form>
                          </div>
                          <div class="tab-pane" id="new_account">
                              <form role="form" method="post" action="/actions/create_user/">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="create-user-username">Nick- or Teamname</label>
                                      <input type="text" id="create-user-username" class="form-control" placeholder="nick-/teamname" name="username">
                                  </div>
                                  <div class="form-group">
                                      <label for="create-user-realname">Real Name(s)</label>
                                      <input type="text" id="create-user-realname" class="form-control" placeholder="real name(s)" name="realname">
                                  </div>
                                  <div class="form-group">
                                      <label for="create-user-password1">Password</label>
                                      <input type="password" id="create-user-password1" class="form-control" placeholder="password" name="password1">
                                  </div>
                                  <div class="form-group">
                                      <input type="password" id="create-user-password2" class="form-control" placeholder="again" name="password2">
                                  </div>
                                  <button type="submit" class="btn btn-success pull-right">Create User</button>
                              </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}