{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Learning Challenge{% endblock %}


{% block js %}
    <script src="{% static "js/webapp.js" %}"></script>
{% endblock %}


{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="ga('send', 'event', 'nav', 'click', 'groups');"><span class="group-label">Groups</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for name,group in groups.items %}
                <li><a class="{% if not group.new %} ajax {% endif %}" href="{{ group.url }}">
                    {% if group.new %}
                        <span class="badge pull-right">new</span>
                    {% endif %}
                    {{ group.name }}
                </a></li>
            {% endfor %}

            {% if user.is_superuser %}
                <li class="divider"></li>
                <li><a href="#" data-toggle="modal" data-target="#createGroupModal" onclick="ga('send', 'event', 'modal', 'open', 'create_group');"><span class="glyphicon glyphicon-plus"></span> Add new</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown" id="roundNav" hidden>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="ga('send', 'event', 'nav', 'click', 'rounds');"><span id="round-label">Rounds</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" id="roundNavList">
            {% comment %}
             {% for name,group in groups.items %}
                <li><a class="{% if not group.new %} ajax {% endif %}" href="{{ group.url }}">
                    {{ group.name }}
                </a></li>
            {% endfor %}

            {% if user.is_superuser %}
                <li class="divider"></li>
                <li><a href="#" data-toggle="modal" data-target="#createGroupModal" onclick="ga('send', 'event', 'modal', 'open', 'create_round');"><span class="glyphicon glyphicon-plus"></span> Add new</a></li>
            {% endif %}
            {% endcomment %}
          </ul>
        </li>
        <li>
            <a href="/datasets/" class="ajax">Datasets</a>
        </li>
      </ul>
      <p class="navbar-text"><span  id="nav-status"></span></p>
{% endblock %}


{% block content %}
    <div id="alerts"></div>
    <!-- modals -->

    {% if user.is_superuser %}
    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="createGroupLabel">Create Group</h4>
          </div>
          <form action="{% url "add_group" %}" method="post" role="form">
              {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                <label for="createGroupName">Group name:</label>
                <input type="text" class="form-control" id="createGroupName" placeholder="Group name" name="group_name">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="public" value="0"> Disallow check-in.
                </label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    {% endif %}

    <!--
        ****************************

        Dataset Preview

        ****************************
    -->
    <div class="modal" id="datasetPreviewModal" tabindex="-1" role="dialog" aria-labelledby="datasetPreviewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="datasetPreviewModalLabel">Preview</h4>
          </div>
          <div class="modal-body">
              <div id="datasetPreviewModalDiv">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--
        ****************************

        Chart Details View

        ****************************
    -->
    <div class="modal" id="chartDetailsModal" tabindex="-1" role="dialog" aria-labelledby="chartDetailsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="chartDetailsModalLabel">Details</h4>
          </div>
          <div class="modal-body">
              <div id="chartDetailsModalDiv">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--
        ****************************

        INDEX Page

        ****************************
    -->
    <div id="page-index" class="page">
        <div class="row main-content index-screen">
        <h1 class="text-center" style="color: white;">Welcome to learning-challenge</h1>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Group Overview</h2>
                    </div>
                    <div class="panel-body">
                        Please choose a group.
                    </div>
                    <div class="list-group">
                        {% for name,group in groups.items %}
                            <a class="list-group-item {% if not group.new %} ajax {% endif %}" href="{{ group.url }}">
                                {% if group.new %}
                                    <span class="badge pull-right">new</span>
                                {% endif %}
                                {{ group.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_superuser %}
    <!--
        **************************

        new Round Modal

        **************************
    -->

    <div class="modal fade" id="editRoundModal" tabindex="-1" role="dialog" aria-labelledby="editRoundModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="editRoundModalLabel">Create Round</h4>
          </div>
          <form action="{% url "edit_round" %}" method="post" role="form">
              {% csrf_token %}
          <input type="hidden" name="group" value="" id="editRoundGroup">
          <input type="hidden" name="round-pk" value="-1" id="editRoundRound">
          <input type="hidden" name="algorithms" value="[]" id="editRoundAlgorithms">
          <input type="hidden" name="preprocessing" value="[]" id="editRoundPreprocessing">
          <input type="hidden" name="datasets" value="[]" id="editRoundDatasets">
          <input type="hidden" name="timeoffset" value="0" id="editRoundTimeOffset">
          <div class="modal-body">
              <div class="form-group">
                <label for="editRoundName">Round name:</label>
                <input type="text" class="form-control" id="editRoundName" placeholder="Round name" name="name">
              </div>
              <h5>Start:</h5>
              <div class="form-inline">
                  <div class="form-group">
                    <label for="editRoundStartDate">Date</label>
                    <input type="date" class="form-control" id="editRoundStartDate" placeholder="YYYY-MM-DD" name="startDate">
                  </div>
                  <div class="form-group">
                    <label for="editRoundStartTime">Time</label>
                    <input type="time" class="form-control" id="editRoundStartTime" placeholder="HH:MM" name="startTime">
                  </div>
              </div>
              <h5>End:</h5>
              <div class="form-inline">
                  <div class="form-group">
                    <label for="editRoundEndDate">Date</label>
                    <input type="date" class="form-control" id="editRoundEndDate" placeholder="YYYY-MM-DD" name="endDate">
                  </div>
                  <div class="form-group">
                    <label for="editRoundEndTime">Time</label>
                    <input type="time" class="form-control" id="editRoundEndTime" placeholder="HH:MM" name="endTime">
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 col-xs-12">
                      <h5>Algorithms</h5>
                      <div class="list-group" style="max-height: 400px; overflow: auto;">
                          {% for alg, algdata in algorithms.items %}
                              <a id="er-alg-{{ alg }}" class="er-alg-toggle list-group-item">
                                  {{ algdata.name }}
                                  {% if algdata.is_cluster == True %}
                                      <span class="label label-default pull-right" data-toggle="tooltip" data-placement="left"
                                            title="Cluster-Algorithm"><span class="glyphicon glyphicon-th"></span></span>
                                  {% endif %}
                                  {% if algdata.is_cluster == False %}
                                      <span class="label label-info pull-right" data-toggle="tooltip" data-placement="left"
                                            title="Classification-Algorithm"><span class="glyphicon glyphicon-screenshot"></span></span>
                                  {% endif %}
                                  {% if algdata.author != None %}
                                      <span class="label label-danger pull-right" data-toggle="tooltip" data-placement="left"
                                            title="{{ algdata.author|escape }}"><span class="glyphicon glyphicon-gift"></span></span>
                                  {% endif %}
                              </a>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                      <h5>Preprocessing</h5>
                      <div class="list-group" style="max-height: 400px; overflow: auto;">
                          {% for pp, ppdata in preprocessing.items %}
                              <a id="er-pp-{{ pp }}" class="er-pp-toggle list-group-item">{{ ppdata.name }}</a>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="col-sm-5 col-xs-12">
                      <h5>Datasets</h5>
                      <div class="list-group" style="max-height: 400px; overflow: auto;">
                          {% for id, ds in datasets.items %}
                              <a id="er-ds-{{ ds.pk }}" class="er-ds-toggle list-group-item">
                                  {{ ds.str }}
                                  {% if ds.cluster_dataset == True %}
                                      <span class="label label-default pull-right" data-toggle="tooltip" data-placement="left"
                                            title="Cluster-Algorithm"><span class="glyphicon glyphicon-th"></span></span>
                                  {% endif %}
                                  {% if ds.cluster_dataset == False %}
                                      <span class="label label-info pull-right" data-toggle="tooltip" data-placement="left"
                                            title="Classification-Algorithm"><span class="glyphicon glyphicon-screenshot"></span></span>
                                  {% endif %}

                              </a>
                          {% endfor %}
                      </div>
                  </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <!--
        ***************************

        Group Page

        ***************************
    -->
    <div id="page-group" class="page">
        <h2 id="group-page-title" class="group-label">Group Page</h2>

        {% if user.is_superuser %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="groupTabsLinks">
          <li class="active"><a href="#group_overview" role="tab" id="groupTabOverviewLink" data-toggle="tab">Overview</a></li>
          <li><a href="#group_settings" role="tab" id="groupTabSettingsLink" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="groupTabs">
          {% endif %}
          <div class="tab-pane active" id="group_overview">
          <table class="table table-striped">
            <thead>
                <tr id="group_overview_table_head"></tr>
            </thead>
            {% if user.is_superuser %}
            <tbody id="group_overview_table_body"></thead>
            {% endif %}
          </table>
          {% if user.is_superuser %}
          </div>
          <div class="tab-pane" id="group_settings">
            <table class="table table-responsive">
                <thead>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Datasets</th>
                    <th>Algorithms</th>
                    <th>Status</th>
                    <th>Actions</th>
                </thead>
                <tbody id="groupSettingsTable">
                </tbody>
            </table>
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editRoundModal">
                Create new Round
            </button>

        </div>
      {% endif %}
      </div>
    </div>


    {% if user.is_superuser %}
    <!--
        **************************

        new Datasets Modal

        **************************
    -->

    <div class="modal fade" id="createDatasetModal" tabindex="-1" role="dialog" aria-labelledby="createDatasetModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="createDatasetModalLabel">Create Dataset</h4>
          </div>
          <form action="{% url "add_dataset" %}" method="post" role="form">
              {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                <label for="createDatasetName">Dataset name:</label>
                <input type="text" class="form-control" id="createDatasetName" placeholder="Dataset name" name="name">
              </div>
              <div class="form-group">
                  <label for="createDatasetDescription">Description:</label>
                  <textarea class="form-control" rows="5" placeholder="description, reference"
                            name="description" id="createDatasetDescription"></textarea>
              </div>
              <div class="form-group">
                  <label for="createDatasetDataset">(Training) Dataset:</label>
                  <textarea class="form-control" rows="5" placeholder="dataset" name="createDatasetDataset" id="createDatasetDataset"></textarea>
              </div>
              <div class="radio">
                  <label>
                    <input type="radio" name="createDatasetSampleMethod"
                           id="createDatasetSampleMethodCluster" value="cluster"
                           onclick="$('#createDatasetMoreSets').hide('fast');$('#createDatasetRandomValues').hide('fast');">
                    This dataset is for <strong>cluster</strong> algorithms.
                  </label>
              </div><div class="radio">
                  <label>
                    <input type="radio" name="createDatasetSampleMethod" id="createDatasetSampleMethodRandom" value="random" checked
                            onclick="$('#createDatasetMoreSets').hide('fast');$('#createDatasetRandomValues').show('fast');">
                    Select the test and validation subset randomly with the following probabilities.
                  </label>
                  <div class="form-inline" id="createDatasetRandomValues">
                      <div class="form-group">
                        <label for="createDatasetTestSize">Test set size</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="createDatasetTestSize" placeholder="size"
                                   name="createDatasetTestSize" min="1" max="50" step="1" value="25">
                            <span class="input-group-addon">%</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="createDatasetValidationSize">Test set size</label>
                          <div class="input-group">
                            <input type="number" class="form-control" id="createDatasetValidationSize" placeholder="size"
                                   name="createDatasetValidationSize" min="1" max="50" step="1" value="25">
                            <span class="input-group-addon">%</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="radio">
                  <label>
                    <input type="radio" name="createDatasetSampleMethod" id="createDatasetSampleMethodGiven" value="given"
                            onclick="$('#createDatasetMoreSets').show('fast');$('#createDatasetRandomValues').hide('fast');">
                    Use the following dataset for test and validation cases.
                  </label>
              </div>
              <div id="createDatasetMoreSets" hidden="true">
                  <div class="form-group">
                      <label for="createDatasetTestset">Test Set:</label>
                      <textarea class="form-control" rows="5" placeholder="dataset" name="createDatasetTestset" id="createDatasetTestset"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="createDatasetValidationset">Validation Set:</label>
                      <textarea class="form-control" rows="5" placeholder="dataset" name="createDatasetValidationset" id="createDatasetValidationset"></textarea>
                  </div>
              </div>
              <h4>Preview</h4>
              <div style="max-height: 500px; overflow: auto;">
                  <table class="table">
                      <thead>
                        <tr id="createDatasetPreviewHeadRow">
                            <th>Class</th>
                            <th>Subset</th>
                        </tr>
                      </thead>
                      <tbody id="createDatasetPreviewBody">
                      </tbody>
                  </table>
              </div>
          </div>
          <input type="hidden" name="points" value="" id="createDatasetPoints">
          <input type="hidden" name="cluster_dataset" value="0" id="createDatasetClusterDataset">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!--
        Clone Dataset Modal
    -->
    <div class="modal fade" id="cloneDatasetModal" tabindex="-1" role="dialog" aria-labelledby="cloneDatasetModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="createDatasetModalLabel">Clone Dataset - <span id="cloneDatasetSourceName"></span></h4>
          </div>
          <form action="{% url "clone_dataset" %}" method="post" role="form">
              {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                <label for="cloneDatasetName">Dataset name:</label>
                <input type="text" class="form-control" id="cloneDatasetName" placeholder="Dataset name" name="name">
              </div>
              <div class="form-group">
                <label>
                    <input type="checkbox" id="cloneDatasetCluster" name="cluster_dataset" value="1"> Cluster Dataset
                </label>
              </div>
              <div class="form-group">
                <label for="cloneeDatasetTestSize">Test set size</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="cloneDatasetTestSize" placeholder="size"
                           name="cloneDatasetTestSize" min="1" max="100" step="1" value="25">
                    <span class="input-group-addon">%</span>
                </div>
              </div>
              <div class="form-group">
                <label for="cloneDatasetValidationSize">Validation set size</label>
                  <div class="input-group">
                    <input type="number" class="form-control" id="cloneDatasetValidationSize" placeholder="size"
                           name="cloneDatasetValidationSize" min="1" max="100" step="1" value="25">
                    <span class="input-group-addon">%</span>
                  </div>
              </div>
              <div class="form-group">
                <label for="cloneDatasetMinTraining">Minimal number of items</label>
                  <div class="input-group">
                    <input type="number" class="form-control" id="cloneDatasetMinTraining" placeholder="size"
                           name="cloneDatasetMinTraining" min="1" max="50" step="1" value="1">
                    <span class="input-group-addon">items per class</span>
                  </div>
              </div>
          </div>
          <input type="hidden" name="cloneDatasetSource" value="" id="cloneDatasetSource">
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Clone</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    {% endif %}


    <!--
        Add Preprocessing Modal
    -->
    <div class="modal fade" id="addPreprocessingModal" tabindex="-1" role="dialog" aria-labelledby="addPreprocessingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="addPreprocessingModalLabel">Add Preprocessing Step</h4>
          </div>
          <div class="modal-body">
              <form class="form-horizontal">
              <div class="row">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="preprocessingAlgorithm">Algorithm</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="algorithm" id="preprocessingAlgorithm">
                        </select>
                    </div>
                    <div class="col-sm-6 small" id="preprocessingAlgorithmDesc"></div>

                  </div>
                  <div class="form-group" id="preprocessingDimensionsField">
                    <label class="col-sm-2 control-label" for="preprocessingDimensions">Dimensions:</label>
                    <div class="col-sm-4" id="preprocessingDimensionsCheckboxField">
                    </div>
                    <div class="col-sm-6 small" id="preprocessingAlgorithmDesc"></div>

                  </div>
              </div>
              <div class="row" id="addPreprocessingParams"></div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submitPreprocessingBtn"><span class="glyphicon glyphicon-plus"></span> Add</button>
          </div>
        </div>
      </div>
    </div>

    <!--
        **************************

        Datasets Page

        **************************
    -->

    <div id="page-datasets" class="page">
        <h2>Datasets</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Dimensions</th>
                    <th>Classes</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for id, dataset in datasets.items %}
                <tr>
                    <td>
                        {{ dataset.pk }}
                    </td>
                    <td>
                        {{ dataset.name }}
                    </td>
                    <td>
                        {{ dataset.get_dimension_str }}
                    </td>
                    <td>
                        {{ dataset.nr_classes }}
                    </td>
                    <td>
                        {{ dataset.get_size_str }}
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs dataset-preview-opener" dataset-pk="{{ dataset.pk }}">
                            Preview
                        </button> &nbsp;
                        <button class="btn btn-primary btn-xs dataset-cloner-opener" dataset-pk="{{ dataset.pk }}">
                            clone
                        </button> &nbsp;
                        <div class="btn-group" role="group">
                            <a class="btn btn-default btn-xs" href="{{ dataset.url_training_arff }}">
                                training
                            </a>
                            <a class="btn btn-default btn-xs" href="{{ dataset.url_test_arff }}">
                                test
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#createDatasetModal">
            Create new dataset
        </button>
        {% endif %}
    </div>


    <!--
        **************************

        Round Page

        **************************
    -->
    <div class="page" id="page-round">
        <h2><span class="group-label"></span> - <span class="round-label"></span></h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="roundTabsLinks">
          <li><a id="roundTabJobsLink" href="#round_job" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Jobs</a></li>
          <li><a id="roundTabJobsListLink" href="#round_job_list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list"></span> Job - List</a></li>
          {% if user.is_superuser %}
            <li class="active"><a id="roundTabOverviewLink" href="#round_results" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span> Results</a></li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane" id="round_job">
            <div class="row">
                <div class="col-lg-2 col-sm-3">
                    <div class="panel panel-default" id="jobHistoryPanel"></div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div style="padding-top: 10px;" id="createJobErrors"></div>
                    <div class="page" id="page-round-job-create">
                        <h3>Create new Job</h3>
                        <form class="form-horizontal" role="form" id="create_job_form">
                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="createJobDataset">Dataset</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="dataset" id="createJobDataset">
                                </select>
                            </div>
                            <div class="col-sm-6" id="createJobDatasetMsg"></div>
                          </div>
                          <div class="panel-group" id="createJobDatasetDetails">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#createJobDatasetDetails" href="#createJobDatasetDetailsCollaps">
                                        Dataset Details
                                    </a>
                                  </h4>
                                </div>
                                <div id="createJobDatasetDetailsCollaps" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Dimensions</dt>
                                        <dd id="createJobDatasetDimensions"></dd>
                                        <dt class="cluster_hidden">Training Set Size</dt>
                                        <dd id="createJobDatasetTrainingSize" class="cluster_hidden"></dd>
                                        <dt class="cluster_hidden">Test Set Size</dt>
                                        <dd id="createJobDatasetTestSize" class="cluster_hidden"></dd>
                                        <dt><span class="cluster_hidden">Validation Set </span>Size</dt>
                                        <dd id="createJobDatasetValidationSize"></dd>
                                        <dt class="cluster_hidden">Number of Classes</dt>
                                        <dd id="createJobDatasetClasses" class="cluster_hidden"></dd>
                                    </dl>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default" id="PreprocessingPanel">
                                <div class="panel-heading" role="tab">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#createJobDatasetPreprocessingCollaps"
                                       aria-expanded="true" aria-controls="createJobDatasetPreprocessingCollaps">
                                      Preprocessing
                                    </a>
                                  </h4>
                                </div>
                                <div id="createJobDatasetPreprocessingCollaps" class="panel-collapse collapse in"
                                     role="tabpanel" aria-labelledby="createJobDatasetPreprocessingCollaps">

                                  <div class="panel-body">
                                    <div class="panel panel-default">
                                      <div class="list-group" id="createJobPreprocessingList">
                                          <li class="list-group-item">foo</li>
                                          <li class="list-group-item">bar</li>
                                      </div>
                                      <div class="panel-body">
                                        <button type="button" class="btn btn-primary btn-sm" id="addPreprocessing">
                                            <span class="glyphicon glyphicon-plus"></span> Add Preprocessing Step
                                        </button> &nbsp;
                                        <button type="button" class="btn btn-danger btn-sm" id="clearPreprocessing">
                                            <span class="glyphicon glyphicon-remove"></span> Clear Preprocessing Pipeline
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#createJobDatasetScatterCollaps"
                                       aria-expanded="true" aria-controls="createJobDatasetScatterCollaps">
                                      Scatter Plot
                                    </a>
                                  </h4>
                                </div>
                                <div id="createJobDatasetScatterCollaps" class="panel-collapse collapse in"
                                     role="tabpanel" aria-labelledby="createJobDatasetScatterCollaps">
                                  <div class="panel-body">
                                    <div style="padding: 0px;margin: 0px;" id="createJobDatasetDetailsPreview"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="createJobDataset3DCollapsLabel">
                                  <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse"
                                       href="#createJobDataset3DCollaps"
                                       aria-expanded="false" aria-controls="createJobDataset3DCollaps">
                                      3D-Plot
                                    </a>
                                  </h4>
                                </div>
                                <div id="createJobDataset3DCollaps" class="panel-collapse collapse"
                                     role="tabpanel" aria-labelledby="createJobDataset3DCollapsLabel">
                                  <div class="panel-body">
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label" for="createJob3Dx">x-axis</label>
                                        <div class="col-sm-4">
                                            <select class="form-control 3dplotcontol" name="algorithm"
                                                    id="createJob3Dx" plotdiv="#createJobDataset3DPreview">
                                            </select>
                                        </div>
                                      </div>

                                     <div class="form-group">
                                        <label class="col-sm-2 control-label" for="createJob3Dy">y-axis</label>
                                        <div class="col-sm-4">
                                            <select class="form-control 3dplotcontol" name="algorithm"
                                                    id="createJob3Dy" plotdiv="#createJobDataset3DPreview">
                                            </select>
                                        </div>
                                      </div>

                                     <div class="form-group">
                                        <label class="col-sm-2 control-label" for="createJob3Dz">z-axis</label>
                                        <div class="col-sm-4">
                                            <select class="form-control 3dplotcontol" name="algorithm"
                                                    id="createJob3Dz" plotdiv="#createJobDataset3DPreview">
                                            </select>
                                        </div>
                                      </div>

                                    <div style="padding: 0px;margin: 0px;" id="createJobDataset3DPreview"></div>
                                  </div>
                                </div>
                              </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#createJobDatasetLineCollaps"
                                       aria-expanded="true" aria-controls="createJobDatasetLineCollaps">
                                      Line Chart
                                    </a>
                                  </h4>
                                </div>
                                <div id="createJobDatasetLineCollaps" class="panel-collapse collapse"
                                     role="tabpanel" aria-labelledby="createJobDatasetLineCollaps">
                                  <div class="panel-body">
                                    <div style="padding: 0px;margin: 0px;" id="createJobDatasetDetailsPreviewLine"></div>
                                  </div>
                                </div>
                              </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="createJobAlgorithm">Algorithm</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="algorithm" id="createJobAlgorithm">
                                </select>
                            </div>
                            <div class="col-sm-6 small" id="createJobAlgorithmDesc"></div>
                          </div>
                          <div id="createJobAlgorithmParams"></div>
                          <div class="row">
                              <div class="col-sm-offset-2 col-sm-4">
                                  <button type="button" class="btn btn-primary" id="createJobRun" disabled="disabled">
                                      <span class="glyphicon glyphicon-play"></span> Run Job
                                  </button>
                              </div>
                          </div>
                        </form>
                    </div>
                    <div class="page" id="page-round-job-detail">
                        Detail Job
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3" id="hint-field">
                    {% if user.is_superuser %}
                        <div class="alert alert-info" role="alert">
                            You are an <strong>admin</strong>.
                            Damn, you are like a <strong>god</strong>.
                            Your really don't need hints.</div>
                    {% endif %}
                </div>
            </div>
          </div>
          <div class="tab-pane" id="round_job_list">
              <table class="table table-striped table-hover" id="round_job_list_table">
                  <thead>
                    <tr>
                        <th>#</th>
                        {% if user.is_superuser %}
                            <th>User</th>
                        {% endif %}
                        <th>Dataset</th>
                        <th>Algorithm</th>
                        <th>Parameters</th>
                        <th>Test Score</th>
                        <th>Validation Score</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="jobListTable"></tbody>
              </table>
          </div>
          <div class="tab-pane active" id="round_results">
              <table class="table table-striped" id="scores_table">
                  <thead>
                    <tr id="scores_head"></tr>
                  </thead>
                  {% if user.is_superuser %}
                    <tbody id="scores_body"></tbody>
                  {% endif %}
              </table>
          </div>
        </div>
    </div>


    {% comment %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
      <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
      <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <ul>
        <li><a class="ajax" href="/foo">Foo</a> </li>
        <li><a class="ajax" href="/bar">bar</a> </li>
        </ul>
        <div id="text">home</div>
      </div>
      <div class="tab-pane" id="profile">
          {% if user.is_authenticated %}
            {{ user.username }}
          {% else %}
            kein User eingeloggt
          {% endif %}
      </div>
      <div class="tab-pane" id="messages">...</div>
      <div class="tab-pane" id="settings">...</div>
    </div>
    {% endcomment %}


{% endblock %}



{% block analytics_pageview %}
{% endblock %}