.hidden {
    display: none;
}

.index-screen {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f0/DARPA_Big_Data.jpg');
    background-size: 100%;
    background-origin: padding-box
}

.navbar {
    margin-bottom: 0px;
}

.main-content {
    padding-top: 20px;
}

.clickable {
    cursor:pointer;
}
